/* 
-- 01-TYPOGRAPHY
-Font Size System (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHT
  Default:400
  Medium:500
  Semi-Bold:600
  Bold:700

-LINE HEIGHT
  Default:1
  Small:1.05
  Medium:1.2
  Paragraph Default:1.6

-LETTER SPACING
 -0.5px
  0.75px
-- 02-COLORS
-Main Color:#38d9a9
-Tints:
-Shades:
-Accents:
-Greys:#AAAAAA

  #66d9e8 
--05-SHADOWS

--06-BORDER-RADIUS
Default:9px

--07-WHITESPACE

-Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



  -SECTIONS
  NAV
  HERO
  CATEGORY
  ABOUT US
  TESTIMONIAL
  CTA
  FOOTER
*/
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/*---------------------------------------------------------- 
 NAVBAR
----------------------------------------------------------*/
.nav {
  display: flex;
  padding-top: 1.6rem;
  padding-left: 10rem;
  padding-right: 10rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  margin: auto;
  background-color: #e9e9e9;
  z-index: 2;
  margin: 0 auto;
  padding: 0 3.2rem;
  height: 10vh;
}
.nav-icon {
  width: 28px;
  stroke: #2a437a;
}
.nav a:link,
.nav a:visited {
  text-decoration: none;
  font-size: 2.5rem;
  color: #555;
}
.nav a:active,
.nav a:hover {
}
.nav-flex-1,
.nav-flex-2 {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.left-nav {
  display: inline-block;
  color: #2a437a !important;
  cursor: pointer;
}
.right-nav {
  color: #bb7d2c !important;
}
.nav a:hover {
}
.logo-img {
  width: 9rem;
  margin-right: 6rem;
  margin-bottom: 1rem;
}
/*---------------------------------------------------------- 
 HERO-SECTION
----------------------------------------------------------*/
.background-img {
  background-image: url(cover4.webp);
  background-size: cover;
  /* background-attachment: fixed; */
}
.hero-section {
  height: 100vh;
  position: relative;
  margin-bottom: 10rem;
}
.slogan {
  font-size: 5rem;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: max-content;
  font-weight: 700;
  z-index: 3;
}
.tailimg,
.happyimg {
  position: absolute;
  width: 500px;
  top: 42%;
  transform: translate(0, -50%);
}
.tailimg {
  right: 5rem;
}
.happyimg {
  left: 5rem;
}
/*---------------------------------------------------------- 
 CATEGORY SECTION
----------------------------------------------------------*/
.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5rem;
  column-gap: 5rem;
}
.cat,
.dog,
.hamster,
.bird {
  background-color: aqua;
}
.cat img {
  width: 100px;
}
