{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
  <body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="profile.html">Profile <i class="ion-ios-arrow-forward"></i></a></span> <span><i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">Pet View</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-degree-bg ftco-no-pt">
      <div class="container">
        <div class="row">
            <div class="dog-info">
              <section class="dog-name">
                <div class="dog-name__info">
                  <h1 class="petNameTitle">{{ pet.name }}</h1>
                </div>
                <div class="dog-name__cta">
                  <div class="ftco-animate">
                    <button id="editProfileBtn" class="btn btn-primary profile-button" type="button" data-toggle="tooltip" data-placement="left" title="Edit Profile">
                      <span></span>
                      <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: -4px;"></i>
                    </button>
                  </div>
                </div>
              </section>
              <section class="dog-gallery">
                <input class="dog-gallery__input" id="gallery-image-1" type="radio" value="1" name="dog-image" checked="checked"/>
                <label for="gallery-image-1"><img src="{% static 'images/malamute1.jpg' %}" alt="Dog Image"/></label>
                <input class="dog-gallery__input" id="gallery-image-2" type="radio" value="2" name="dog-image"/>
                <label for="gallery-image-2"><img src="{% static 'images/malamute2.jpg' %}" alt="Dog Image"/></label>
                <input class="dog-gallery__input" id="gallery-image-3" type="radio" value="3" name="dog-image"/>
                <label for="gallery-image-3"><img src="{% static 'images/malamute3.jpg' %}" alt="Dog Image"/></label>
                <input class="dog-gallery__input" id="gallery-image-4" type="radio" value="4" name="dog-image"/>
                <label for="gallery-image-4"><img src="{% static 'images/malamute4.jpg' %}" alt="Dog Image"/></label>
                <div class="dog-gallery__images"><img src="{% static 'images/malamute1.jpg' %}" alt="Dog Image"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/malamute2.jpg" alt="Dog Image"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/malamute3.jpg" alt="Dog Image"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/malamute4.jpg" alt="Dog Image"/></div>
              </section>
              <section>
                  <h3 class="Error-List Error-List-show"></h3>
                  <form class="dog-manythings" id="petView_Form" method="POST">
                    {% csrf_token %}
                    <div class="dog-manythings__stats">
                      <p>Name</p>
                      <input id="name" disabled type="text" class="form-control editProf save_fields"
                                   placeholder="Enter Pet Name" autocomplete="nan" value="{{ pet.name }}">
                    </div>
                    <div class="dog-manythings__stats">
                      <p>Pet Type</p>
                      <input disabled type="text" class="form-control save_fields"
                             placeholder="Enter Pet Type" autocomplete="nan" value="{{ pet.type }}">
                    </div>
                    <div class="dog-manythings__stats">
                      <p>Years</p>
                      <input id="years" disabled type="text" class="form-control editProf save_fields"
                                   placeholder="Pet Years" autocomplete="nan" value="{{ pet.years }}">
                    </div>
                    <div class="dog-manythings__stats">
                      <p>Months</p>
                      <input id="months" disabled type="text" class="form-control editProf save_fields"
                                   placeholder="Pet Months" autocomplete="nan" value="{{ pet.months }}">
                    </div>
                    <div class="dog-manythings__stats">
                      <p>Gender</p>
                      <div class="col-md-12 px-0">
                          <div class="dropdown genderPetview">
                              <div class="js-link"><span id="selected_gender">{{ pet.gender }}</span>
                                  <i class="fa fa-chevron-down mt-1"></i>
                              </div>
                            <ul class="js-dropdown-list">
                              <li>Male</li>
                              <li>Female</li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="dog-manythings__stats">
                      <p>Color</p>
                      <input id="color" disabled type="text" class="form-control editProf save_fields"
                                   placeholder="Pet Color" autocomplete="nan" value="{{ pet.color }}">
                    </div>
                    <div class="dog-manythings__more">
                        <h3>More about <span class="petNameTitle">{{ pet.name }}</span></h3>
                      <p class="petData"> <strong>Doctor: </strong>{{ pet.vet.user.first_name }} {{ pet.vet.user.last_name }}</p>
                      <p class="petData"> <strong>Appointments: </strong>{{ pet.appointments }}</p>
                      <p class="petData"> <strong>Vaccination: </strong>{{ pet.vaccination }}</p>
                      <p class="petData"> <strong>Medical Records: </strong>{{ pet.medical_record }}</p>
                    </div>
                  </form>
              </section>
            </div>
        </div>
      </div>
    </section>
  </body>
{% endblock body %}
{% block scripts %}
<script>
  $(function() {
    var list = $('.js-dropdown-list');
    var link = $('.js-link')

    link.click(function(e) {
        e.preventDefault();
        if ($("#editProfileBtn").find('span').text() === 'Save Changes') {
            list.toggleClass('dropdown-active');
            if (list.hasClass('dropdown-active')) {
                $(".fa-chevron-down").css({
                    "transform": "rotate(180deg)",
                })
            } else {
                $(".fa-chevron-down").css({
                    "transform": "rotate(0deg)",
                })
            }
        }
    });

    list.find('li').click(function() {
        if ($("#editProfileBtn").find('span').text() === 'Save Changes') {
            $('.js-dropdown-list').toggleClass('dropdown-active');
            var text = $(this).html();
            link.find('#selected_gender').text(text);
            $(".fa-chevron-down").css({
                "transform": "rotate(0)",
            })
        }
    });

})
  $(".fa-chevron-down").hide();
  $(".genderPetview").css({'border': 'none'});
  $('.js-dropdown-list').css({'border': 'none'});
  $(".Error-List").css('height', '0');
  $(document).on('mousedown', function (e) {
      if (!$(e.target).closest($(".genderPetview")).length && $('.js-dropdown-list').hasClass('dropdown-active')) {
          $('.js-dropdown-list').toggleClass('dropdown-active');
          $(".fa-chevron-down").css({
              "transform": "rotate(0)",
          })
      }
  });
  $(function() {
    $('#editProfileBtn').click(function() {
      if ($(this).find('span').text() === 'Save Changes') {
        toggleButtonText();
        if ($('.js-dropdown-list').hasClass('dropdown-active')){
            $('.js-dropdown-list').toggleClass('dropdown-active');
            if ($('.js-dropdown-list').hasClass('dropdown-active')) {
                $(".fa-chevron-down").css({
                    "transform": "rotate(180deg)",
                })
            } else {
                $(".fa-chevron-down").css({
                    "transform": "rotate(0deg)",
                })
            }
        }
        $(".genderPetview").css({'border': 'none'});
        $('.js-dropdown-list').css({'border': 'none'});
        $(".editProf").each(function () {
            $(this).attr('disabled', true);
            $(this).attr('class', 'form-control editProf save_fields');
        })
        $(".fa-chevron-down").hide();
        $(".Error-List").css('height', '0');
        const formData = new FormData(document.getElementById("petView_Form"));
        formData.append('name', $("#name").val());
        formData.append('years', $("#years").val());
        formData.append('months', $("#months").val());
        formData.append('gender', $("#selected_gender").text());
        formData.append('color', $("#color").val());
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        fetch('{% url 'editPet' pet.pet_id %}', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
            .then(data => {
                const errors = data.errors;
                if (errors.length > 0) {
                    $(".Error-List").css('height', '35px'); let i = 0;
                    $(".Error-List").empty();
                    for (var e of errors) {
                        if (i > 0){
                            $(".Error-List").css('height', (35 + (i * 65)) + 'px');
                        }else{
                            $(".Error-List").css('height', '35px');
                        }
                        $(".Error-List").append(
                            "<div class=\"alert alert-danger\">" + e + "</div>"
                        );
                        i++;
                    }
                    $(".Error-List").attr('class', "Error-List Error-List-show mt-2");
                }else{
                    $(".petNameTitle").text($("#name").val());
                    $(".Error-List").attr('class', "Error-List mt-2");
                }
            })

      } else {
        $(".genderPetview").css({'border': ''});
        $('.js-dropdown-list').css({'border': ''});
        $(".fa-chevron-down").show();
        toggleButtonText();
        $(".editProf").each(function () {
            $(this).removeAttr('disabled');
            $(this).attr('class', 'form-control editProf edit_fields');
        })
      }
    });
    function toggleButtonText() {
      var button = $('#editProfileBtn');
      var buttonText = button.find('span');
      var icon = button.find('i.fa');

      if (icon.is(':visible')) {
        icon.hide();
        buttonText.text('Save Changes');
      } else {
        icon.show();
        buttonText.text('');
      }

    }
  });

</script>
{% endblock scripts %}
