{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
  <body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Profile <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">Profile</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb">
			<div class="container">
        <div class="d-flex justify-content-between align-items-center ftco-animate">
          <h4>Profile Settings</h4>
          <div class="ftco-animate">
            <button class="btn btn-primary profile-button" type="button" data-toggle="tooltip" data-placement="left" title="Edit Profile"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: -4px;"></i></button>
          </div>
        </div>
				<div class="row ftco-animate">
          <!-- <div class="col-md-2 border-right">
              <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
          </div> -->
          <div class="col-md-6">
              <div class="pt-1">
                  <div class="row">
                      <div class="col-md-6 "><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                      <div class="col-md-6 mt-1"><label class="labels">Last Name</label><input type="text" class="form-control" value="" placeholder="last name"></div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="pt-2">
              <div class="row mt-0">
                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12"><label class="labels">Address Line </label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
              </div>
            </div>  
          </div>
        </div>
			</div>
		</section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center ftco-animate">
          <h4>My Pets</h4>
          <div class="ftco-animate">
            <button class="btn btn-primary profile-button" type="button" data-toggle="tooltip" data-placement="left" title="Add New Pet"><i class="fa fa-plus" aria-hidden="true" style="margin-right: -2px;"></i></button>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="Pet View.html">View Pet</a></div>
                </div>
              </div>
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="Pet View.html">View Pet</a></div>
                </div>
              </div>
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="Pet View.html">View Pet</a></div>
                </div>
              </div>
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="Pet View.html">View Pet</a></div>
                </div>
              </div>
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="Pet View.html">View Pet</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock body %}
{% block scripts %}
    <script>
        $(".nav-link").each(function () {
            if ($(this).text() === "Profile"){
                $(this).parent(".nav-item").addClass('active');
            }else{
                $(this).parent(".nav-item").removeClass('active');
            }
        });
    </script>
{% endblock scripts %}