{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
  <body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Profile <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">Profile</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb">
			<div class="container">
        <div class="d-flex justify-content-between align-items-center ftco-animate">
          <h4>Profile Settings</h4>
          <div class="ftco-animate">
            <button id="editProfileBtn" class="btn btn-primary profile-button" type="button" data-toggle="tooltip" data-placement="left" title="Edit Profile">
              <span></span>
              <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: -4px;"></i>
            </button>          
          </div>
        </div>
        <section class="dog-manythings mt-4">
          <div class="dog-manythings__stats ftco-animate">
            <div class="row">
              <div class="col-md-6 mt-1">
                <label class="labels">First Name</label>
                <h5>Ryali</h5>
                <input type="text" class="form-control editProf" placeholder="First Name" value="Ryali">
              </div>
              <div class="col-md-6 mt-1">
                <label class="labels">Last Name</label>
                <h5>Ryali</h5>
                <input type="text" class="form-control editProf" value="Ryali" placeholder="Last Name">
              </div>
          </div>
          </div>
          <div class="dog-manythings__stats ftco-animate">
            <div class="row mt-0">
              <div class="col-md-12">
                <label class="labels">Mobile Number</label>
                <h5>011223344556</h5>
                <input type="text" class="form-control editProf" placeholder="enter phone number" value="011223344556">
              </div>
            </div>   
          </div>
          <div class="dog-manythings__stats ftco-animate">
            <div class="row mt-2">
              <div class="col-md-12"><label class="labels">Email</label>
                <h5>user@example.com</h5>
                <input type="text" class="form-control editProf" placeholder="enter email id" value="user@example.com">
              </div>
            </div>
          </div>
          <div class="dog-manythings__stats ftco-animate">
            <div class="row mt-2">
              <div class="col-md-12">
                <label class="labels">Address Line </label>
                <h5>5th street</h5>
                <input type="text" class="form-control editProf" placeholder="enter address line 1" value="5th street">
              </div>
            </div>
          </div>
          <div class="dog-manythings__more">
          </div>
        </section>		
			</div>
		</section>
    <div id="popup1" class="popupOverlay">
      <div class="popup">
        <h2>Add Pet</h2>
        <a id="closePopup" class="close">&times;</a>
        <section class="dog-manythings mt-4 pr-3">
          <div class="dog-manythings__stats">
            <p>Name</p>
            <div class="col-md-11 px-0">
              <input type="text" class="form-control" placeholder="Pet's Name" value="">
            </div>
          </div>
          <div class="dog-manythings__stats">
            <p>Breed</p>
            <div class="col-md-11 px-0">
              <input type="text" class="form-control" placeholder="Pet's Breed" value="">
            </div>
          </div>
          <div class="dog-manythings__stats">
            <p>Age</p>
            <div class="col-md-11 px-0">
              <input type="text" class="form-control" placeholder="Pet's Age" value="">
            </div>
          </div>
          <div class="dog-manythings__stats">
            <p>Gender</p>
            <div class="col-md-11 px-0">
            <div class="dropdown">
              <div class="js-link">Select Pet's Gender<i class="fa fa-chevron-down mt-1"></i></div>
              <ul class="js-dropdown-list">
                <li>Male</li>
                <li>Female</li>
              </ul>
            </div>
          </div>
          </div>
          <div class="dog-manythings__stats">
            <p>Color</p>
            <div class="col-md-11 px-0">
              <input type="text" class="form-control" placeholder="Pet's Hair/Fur color" value="">
            </div>
          </div>
          <div class="mt-2 pr-3">
            <label for="formFileMultiple" class="form-label">Upload Pet Pictures</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple style="border:none;">
          </div>
          <div class="dog-manythings__more">
            <h5>More about Your Pet</h5>
            <div class="mb-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell us more about your pet (Health, Characteristics, Important Remarks, ..etc )"></textarea>
            </div>
            <div class="row justify-content-center ">
              <div class="col-md-7 heading-section text-center ftco-animate">
                <p><a href="" class="btn btn-primary mr-md-4 py-3 px-4">Add Pet<span class="ion-ios-arrow-forward"></span></a></p>
              </div>
         </div>
        </section>
      </div>
    </div>
    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center ftco-animate">
          <h4>My Pets</h4>
          <div class="ftco-animate">
            <button id="myButton" class="btn btn-primary profile-button" type="button" data-toggle="tooltip" data-placement="left" title="Add New Pet"><i class="fa fa-plus" aria-hidden="true" style="margin-right: -2px;"></i></button> 
          </div> 
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="{% url 'petView' 1 %}">View Pet</a></div>
                </div>
              </div>
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="{% url 'petView' 2 %}">View Pet</a></div>
                </div>
              </div>
              <div class="item">
                <div class="profile profile-smallimg">
                  <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>Doggo Dogg</h3>
                    <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title" style="margin-bottom: 0">Type</p>
                    <h5 class="profile__stats__info">Puppy</h5>
                  </div>
                  <div class="profile__cta"><a class="button" href="{% url 'petView' 3 %}">View Pet</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock body %}
{% block scripts %}
    <script>
        $(".nav-link").each(function () {
            if ($(this).text() === "Profile"){
                $(this).parent(".nav-item").addClass('active');
            }else{
                $(this).parent(".nav-item").removeClass('active');
            }
        });
    </script>
    <script>
      window.addEventListener("click", function (event) {
          if (event.target == popup1) {
            popup1.classList.remove("showPopup");
          }
      });
      var myButton = document.getElementById("myButton");
      var closePopup = document.getElementById("closePopup");
      var popup1 = document.getElementById("popup1");
      var dropdownList = document.getElementById("yourDropdownListId");
      
      myButton.addEventListener("click", function (event) {
          event.stopPropagation();
          popup1.classList.add("showPopup");
      });
      
      closePopup.addEventListener("click", function () {
          popup1.classList.remove("showPopup");
      });
      
      window.addEventListener("click", function (event) {
          if (!popup1.contains(event.target) && event.target !== dropdownList) {
              popup1.classList.remove("showPopup");
          }
      });

      $(function() {
        var list = $('.js-dropdown-list');
        var link = $('.js-link');
        var popup = $('#popup1');
        var mouseDownInsidePopup = false;
    
        function closeDropdown() {
            list.slideUp(200);
            link.html('Select one option<i class="fa fa-chevron-down mt-1"></i>');
        }
    
        link.click(function(e) {
            e.preventDefault();
            list.slideToggle(200);
        });
    
        list.find('li').click(function() {
            var text = $(this).html();
            var icon = '<i class="fa fa-chevron-down mt-1"></i>';
            link.html(text + icon);
            list.slideUp(200);
            if (text === '* Reset') {
                link.html('Select one option' + icon);
            }
        });
    
        popup.mousedown(function() {
            mouseDownInsidePopup = true;
        });
    
        $(document).mouseup(function() {
            if (mouseDownInsidePopup) {
                mouseDownInsidePopup = false;
            } else {
                closeDropdown();
            }
        });
    })
      $(function() {
        function showInputFields() {
          $('.dog-manythings__stats .editProf').show();
          $('.dog-manythings__stats h5').hide();
        }
      
        function showH5Text() {
          $('.dog-manythings__stats .editProf').hide();
          $('.dog-manythings__stats h5').show();
        }
      
        $('#editProfileBtn').click(function() {
          if ($('.dog-manythings__stats .editProf').is(':visible')) {
            showH5Text();
            toggleButtonText();
          } else {
            showInputFields();
            toggleButtonText();
          }
        });
        function toggleButtonText() {
          var button = $('#editProfileBtn');
          var buttonText = button.find('span');
          var icon = button.find('i.fa');
      
          if (icon.is(':visible')) {
            icon.hide();
            buttonText.text('Save Changes');
          } else {
            icon.show();
            buttonText.text('');
          }
          
        }
      });

  </script>
  
{% endblock scripts %}