{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.production.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.production.min.js"></script>
{% endblock head %}

{% block body %}
  <body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Veterinarian <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">Meet Our Veterinary Doctor</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div id="myButton" class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-1.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Lloyd Wilson</h3>
								<span class="position mb-2">Health Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-2.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Rachel Parker</h3>
								<span class="position mb-2">Life &amp; Business Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-3.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Ian Smith</h3>
								<span class="position mb-2">Executive Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-4.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Alicia Henderson</h3>
								<span class="position mb-2">Health Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-5.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Lloyd Wilson</h3>
								<span class="position mb-2">Executive Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-6.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Rachel Parker</h3>
								<span class="position mb-2">Health Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-7.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Ian Smith</h3>
								<span class="position mb-2">Health Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url('{% static 'images/staff-8.jpg' %}');"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Fred Henderson</h3>
								<span class="position mb-2">Executive Coach</span>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
										<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="root"></div>
		<div id="popup1" class="popupOverlay">
			<div class="popup">
				
			</div>
		  </div>
  </body>
{% endblock body %}
{% block scripts %}
    <script>
        $(".nav-link").each(function () {
            if ($(this).text() === "Veterinarian"){
                $(this).parent(".nav-item").addClass('active');
            }else{
                $(this).parent(".nav-item").removeClass('active');
            }
        });
		window.addEventListener("click", function (event) {
			if (event.target == popup1) {
			  popup1.classList.remove("showPopup");
			}
		});
		var myButton = document.getElementById("myButton");
		var closePopup = document.getElementById("closePopup");
		var popup1 = document.getElementById("popup1");
		var dropdownList = document.getElementById("yourDropdownListId");
  
		myButton.addEventListener("click", function (event) {
			event.stopPropagation();
			popup1.classList.add("showPopup");
		});
  
		closePopup.addEventListener("click", function () {
			popup1.classList.remove("showPopup");
		});
  
		window.addEventListener("click", function (event) {
			if (!popup1.contains(event.target) && event.target !== dropdownList) {
				popup1.classList.remove("showPopup");
			}
		});
		var popup = $('#popup1');
        var mouseDownInsidePopup = false;
        popup.mousedown(function() {
            mouseDownInsidePopup = true;
        });

        $(document).mouseup(function() {
            if (mouseDownInsidePopup) {
                mouseDownInsidePopup = false;
            } else {
                closeDropdown();
            }
        });
    </script>
	<script>
		const Helpers = {
			isValidDate: date => {
			  return date && Object.prototype.toString.call(date) === "[object Date]" && !isNaN(date);
			},
			getFormattedDate: date => {
			  const d = new Date(date);
			  let month = '' + d.getMonth(),
			  day = '' + d.getDate(),
			  year = d.getFullYear();
		  
			  if (month.length < 2) month = '0' + month;
			  if (day.length < 2) day = '0' + day;
		  
			  return `${year}/${month}/${day}`;
			},
			getUpdatedObject: (oldObject, updatedObject) => {
			  return Object.assign({}, oldObject, updatedObject);
			} };
		  
		  
		  const AppointmentItem = ({ dateKey, appointment, onAppointmentItemClick }) => {
			return /*#__PURE__*/(
			  React.createElement("div", { className: "appointment__item", "data-datekey": dateKey, onClick: onAppointmentItemClick },
			  appointment && appointment.title && /*#__PURE__*/
			  React.createElement("div", { className: "appointment__item-content" }, /*#__PURE__*/
			  React.createElement("div", { className: "appointment__item-indicator" }), /*#__PURE__*/
			  React.createElement("div", { className: "appointment__item-title truncate--small" }, " ", appointment.title, " "))));
		  };
		  
		  const AppointmentDetail = ({ appointment, onAppointmentEdit, onAppointmentDelete, onCancelClick }) => {
			const { title, description, date } = appointment;
			return /*#__PURE__*/(
			  React.createElement("div", { className: "p-1" }, /*#__PURE__*/
			  React.createElement("div", { className: "section-heading" }, "Appointment Detail"), /*#__PURE__*/
		  
			  React.createElement("div", { className: "content appointment__detail" }, /*#__PURE__*/
			  React.createElement("div", { className: "card" }, /*#__PURE__*/
			  React.createElement("div", { className: "card-header has-background-primary" }, /*#__PURE__*/
			  React.createElement("div", { className: "card-header-title appointment__detail-title" },
			  title), /*#__PURE__*/
		  
			  React.createElement("button", { className: "delete", onClick: onCancelClick })), /*#__PURE__*/
		  
			  React.createElement("div", { className: "card-content" }, /*#__PURE__*/
			  React.createElement("div", { className: "content" }, /*#__PURE__*/
			  React.createElement("p", { className: "appointment__detail-description" }, " ", description, " "), /*#__PURE__*/
			  React.createElement("p", { className: "appointment__detail-date" }, " ", date.toLocaleString()), /*#__PURE__*/
			  React.createElement("div", null))), /*#__PURE__*/
		  
			  React.createElement("footer", { className: "card-footer" }, /*#__PURE__*/
			  React.createElement("a", { className: "button br-0 is-warning card-footer-item", onClick: onAppointmentEdit }, "Edit"), /*#__PURE__*/
			  React.createElement("a", { className: "button br-0 is-danger card-footer-item", onClick: onAppointmentDelete }, "Delete"))))));
		  };
		  
		  const AppointmentForm = ({ isEditMode, appointment, onInputChange, onAppointmentFormSubmit, onAppointmentFormCancel }) => {
			const { title, description, date } = appointment;
			isEditMode = isEditMode || false;
			const formTitle = isEditMode ? 'Update Appointment' : 'Add New Appointment';
			return /*#__PURE__*/(
			  React.createElement("div", null, /*#__PURE__*/
			  React.createElement("div", { className: "section-heading" }, /*#__PURE__*/
			  React.createElement("h3", null, formTitle)), /*#__PURE__*/
		  
			  React.createElement("form", { className: "has-background-white-ter p-1", onSubmit: onAppointmentFormSubmit, "data-datakey": Helpers.getFormattedDate(date) }, /*#__PURE__*/
			  React.createElement("div", { className: "field" }, /*#__PURE__*/
			  React.createElement("label", { className: "label" }, "Title"), /*#__PURE__*/
			  React.createElement("div", { className: "control" }, /*#__PURE__*/
			  React.createElement("input", { name: "title", value: title, className: "input", type: "text", placeholder: "Enter Title", onChange: onInputChange, required: true }))), /*#__PURE__*/
		  
			  React.createElement("div", { class: "field mb-3" }, /*#__PURE__*/
			  React.createElement("label", { class: "label" }, "Description"), /*#__PURE__*/
			  React.createElement("div", { class: "control" }, /*#__PURE__*/
			  React.createElement("textarea", { name: "description", class: "textarea", placeholder: "Enter Description", onChange: onInputChange }, description)), /*#__PURE__*/
		  
			  React.createElement("p", { className: "is-italic" }, /*#__PURE__*/React.createElement("span", { className: "has-text-weight-bold " }, "Appointment Date:"), " ", date.toLocaleString())), /*#__PURE__*/
		  
			  React.createElement("div", { class: "field is-grouped" }, /*#__PURE__*/
			  React.createElement("div", { class: "control" }, /*#__PURE__*/
			  React.createElement("button", { type: "submit", class: "button is-primary" }, "Save")), /*#__PURE__*/
		  
			  React.createElement("div", { class: "control" }, /*#__PURE__*/
			  React.createElement("button", { type: "button", class: "button", onClick: onAppointmentFormCancel }, "Cancel"))))));
		  
		  };
		  
		  const CalendarHeader = props => {
			const { onPrevMonthClick, onNextMonthClick, monthName, year } = props;
			return /*#__PURE__*/(
			  React.createElement("div", { className: "calendar__header" }, /*#__PURE__*/
			  React.createElement("div", { className: "calendar__controls" }, /*#__PURE__*/
			  React.createElement("div", { className: "calendar__control-icon", onClick: onPrevMonthClick }, /*#__PURE__*/
			  React.createElement("span", { className: "icon is-medium" }, "<")), /*#__PURE__*/
		  
			  React.createElement("div", { className: "calendar__control-icon", onClick: onNextMonthClick }, /*#__PURE__*/
			  React.createElement("span", { className: "icon is-medium" }, ">"))), /*#__PURE__*/
		  
			  React.createElement("div", { className: "calendar__title" }, monthName, " ", year)));
		  };
		  
		  const CalendarRowItem = props => {
			const { day, date, index, onCalendarItemClick, onAppointmentItemClick, appointments } = props;
			const dateKey = Helpers.getFormattedDate(new Date(date.getFullYear(), date.getMonth(), day));
			const _getDayAppointment = (appointments, dateKey) => {
			  return appointments.hasOwnProperty(dateKey) ? appointments[dateKey] : null;
			};
			const appointment = _getDayAppointment(appointments, dateKey);
			if (day > 0) {
			  return /*#__PURE__*/(
				React.createElement("td", { key: index }, /*#__PURE__*/
				React.createElement("div", { className: "calendar__item", onClick: onCalendarItemClick, "data-datekey": dateKey }, /*#__PURE__*/
				React.createElement("div", { className: "calendar__item-title", onClick: e => e.stopPropagation() }, day),
				appointment && /*#__PURE__*/React.createElement(AppointmentItem, {
				  date: date, dateKey: dateKey,
				  appointment: appointment,
				  onAppointmentItemClick: onAppointmentItemClick }))));
			}
			return /*#__PURE__*/(
			  React.createElement("td", { key: index }, "\xA0"));
		  };
		  
		  const CalenderRowList = ({ date, onCalendarItemClick, onAppointmentItemClick, appointments }) => {
			const _getCalendarDays = date => {
			  const year = date.getFullYear();
			  const month = date.getMonth();
			  const numberOfDaysInMonth = new Date(year, month + 1, 0).getDate(); // 28 - 31
			  let weekDay = new Date(year, month, 1).getDay(); // 0 - 6
			  let calendarDays = [];
			  let i = 1;
		  
			  // build initial calendar days
			  while (i <= numberOfDaysInMonth) {if (window.CP.shouldStopExecution(0)) break;
				calendarDays.push(i);
				i++;
			  }
		  
			  // insert offsets to calendar days
			  window.CP.exitedLoop(0);while (weekDay > 0) {if (window.CP.shouldStopExecution(1)) break;
				calendarDays.unshift(-1);
				weekDay--;
			  }window.CP.exitedLoop(1);
			  return calendarDays;
			};
			const _getCalendarBody = calendarDays => {
			  let rows = [];
			  let rowItems = [];
			  let itemCount = 1;
			  calendarDays.map((dayNumber, index) => {
				rowItems.push( /*#__PURE__*/React.createElement(CalendarRowItem, {
				  date: date, day: dayNumber, index: index,
				  onCalendarItemClick: onCalendarItemClick,
				  onAppointmentItemClick: onAppointmentItemClick,
				  appointments: appointments }));
		  
		  
				if (itemCount % 7 === 0) {
				  rows.push( /*#__PURE__*/React.createElement("tr", { key: `row_${index}` }, rowItems));
				  rowItems = [];
				}
				itemCount++;
			  });
		  
			  // handle edge case: when remaining rowitems is less than a mulitple of 7
			  if (rowItems.length > 0) {
				rows.push( /*#__PURE__*/React.createElement("tr", { key: 'row_last' }, rowItems));
			  }
			  return rows;
			};
		  
			return (
			  _getCalendarBody(_getCalendarDays(date)));
		  
		  };
		  
		  const CalendarBody = props => {
			const { date, onCalendarItemClick, onAppointmentItemClick, appointments } = props;
			return /*#__PURE__*/(
			  React.createElement("table", { className: "table is-bordered is-fullwidth calendar__table calendar__table--center" }, /*#__PURE__*/
			  React.createElement("thead", null, /*#__PURE__*/
			  React.createElement("tr", null, /*#__PURE__*/
			  React.createElement("td", null, "Sun"), /*#__PURE__*/
			  React.createElement("td", null, "Mon"), /*#__PURE__*/
			  React.createElement("td", null, "Tue"), /*#__PURE__*/
			  React.createElement("td", null, "Wed"), /*#__PURE__*/
			  React.createElement("td", null, "Thu"), /*#__PURE__*/
			  React.createElement("td", null, "Fri"), /*#__PURE__*/
			  React.createElement("td", null, "Sat"))), /*#__PURE__*/
		  
		  
			  React.createElement("tbody", null, /*#__PURE__*/
			  React.createElement(CalenderRowList, {
				date: date,
				onCalendarItemClick: onCalendarItemClick,
				onAppointmentItemClick: onAppointmentItemClick,
				appointments: appointments }))));
		  };
		  
		  
		  const Calendar = props => {
			/**
			 * Week Days => Sunday (0) - Saturday (6)
			 * Months => January (0) - December (11)
			 */
			const MONTH_NAMES = {
			  "0": "January",
			  "1": "February",
			  "2": "March",
			  "3": "April",
			  "4": "May",
			  "5": "June",
			  "6": "July",
			  "7": "August",
			  "8": "September",
			  "9": "October",
			  "10": "November",
			  "11": "December" };
		  
			const {
			  date, onPrevMonthClick, onNextMonthClick, onCalendarItemClick,
			  onAppointmentItemClick, appointments } =
			props;
			const year = date.getFullYear();
			const monthName = MONTH_NAMES[date.getMonth()];
		  
			return /*#__PURE__*/(
			  React.createElement("div", { className: "calendar calender--light p-1" }, /*#__PURE__*/
			  React.createElement(CalendarHeader, {
				onPrevMonthClick: onPrevMonthClick,
				onNextMonthClick: onNextMonthClick,
				monthName: monthName,
				year: year }), /*#__PURE__*/
		  
			  React.createElement(CalendarBody, {
				date: date,
				onCalendarItemClick: onCalendarItemClick,
				onAppointmentItemClick: onAppointmentItemClick,
				appointments: appointments }))); 
		  };
		  
		  
		  class App extends React.Component {
			constructor(props) {
			  super(props);
			  this.state = {
				calendarData: {
				  currentDate: new Date() },
		  
				appointments: {},
				appointment: {
				  id: null,
				  title: '',
				  description: '',
				  date: null },
		  
				isNewAppointment: false,
				isEditAppointment: false,
				isViewAppointment: false };
		  
		  
			  this.handlePrevMonthClick = this.handlePrevMonthClick.bind(this);
			  this.handleNextMonthClick = this.handleNextMonthClick.bind(this);
			  this.handleCalendarItemClick = this.handleCalendarItemClick.bind(this);
			  this.handleAppointmentItemClick = this.handleAppointmentItemClick.bind(this);
			  this.handleInputChange = this.handleInputChange.bind(this);
			  this.handleAppointmentFormSubmit = this.handleAppointmentFormSubmit.bind(this);
			  this.handleAppointmentUpdateFormSubmit = this.handleAppointmentUpdateFormSubmit.bind(this);
			  this.handleAppointmentActionCancel = this.handleAppointmentActionCancel.bind(this);
			  this.resetSideViews = this.resetSideViews.bind(this);
			  this.handleAppointmentEdit = this.handleAppointmentEdit.bind(this);
			  this.handleAppointmentDelete = this.handleAppointmentDelete.bind(this);
			}
		  
			get initialAppointmentState() {
			  return {
				id: null,
				title: '',
				description: '',
				date: null };
		  
			}
		  
			getPrevMonthDate(date) {
			  /**
			   * 
			   * check if previous month is less than  January (0)
			   * and decrement year by one and set previous month to December (11)
			   * 
			   * returns new Date()
			   */
			  if (!Helpers.isValidDate(date)) {
				throw new Error('ArgumentError: Invalid Date');
			  }
			  let prevMonth = date.getMonth() - 1;
			  let year = date.getFullYear();
			  if (prevMonth < 0) {
				year -= 1;
				prevMonth = 11;
			  }
			  return new Date(year, prevMonth);
			}
		  
			getNextMonthDate(date) {
			  /**
			   * 
			   * checks if next month is more than December (11)
			   * and increment year by one and set next month to January (0)
			   * 
			   * returns new Date()
			   */
			  if (!Helpers.isValidDate(date)) {
				throw new Error('ArgumentError: Invalid Date');
			  }
			  let nextMonth = date.getMonth() + 1;
			  let year = date.getFullYear();
			  if (nextMonth > 11) {
				year += 1;
				nextMonth = 0;
			  }
			  return new Date(year, nextMonth);
			}
		  
			handlePrevMonthClick() {
			  this.setState({
				calendarData: { currentDate: this.getPrevMonthDate(this.state.calendarData.currentDate) } });
		  
			}
			handleNextMonthClick() {
			  this.setState({
				calendarData: { currentDate: this.getNextMonthDate(this.state.calendarData.currentDate) } });
		  
			}
		  
			handleInputChange(e) {
			  let tempAppointment = { ...this.state.appointment };
			  tempAppointment[e.target.name] = e.target.value;
			  this.setState({
				appointment: tempAppointment });
		  
			}
		  
			resetSideViews() {
			  this.setState({
				isEditAppointment: false,
				isNewAppointment: false,
				isViewAppointment: false });
		  
			}
		  
			handleCalendarItemClick(e) {
			  e.stopPropagation();
			  this.resetSideViews();
			  const dataKey = e.currentTarget.dataset.datekey;
			  const dateFields = dataKey.split('/');
			  const itemDate = new Date(dateFields[0], dateFields[1], dateFields[2]);
			  const newAppointment = this.initialAppointmentState;
			  newAppointment.id = dataKey;
			  newAppointment.date = itemDate;
			  this.setState({
				appointment: newAppointment,
				isNewAppointment: true });
		  
			}
		  
			handleAppointmentItemClick(e) {
			  e.stopPropagation();
			  this.resetSideViews();
			  const dataKey = e.currentTarget.dataset.datekey;
			  const { appointments } = this.state;
			  if (appointments.hasOwnProperty(dataKey)) {
				this.setState({
				  isViewAppointment: true,
				  appointment: { ...appointments[dataKey] } });
		  
			  }
			}
		  
			handleAppointmentFormSubmit(e) {
			  e.preventDefault();
			  const { appointments, appointment } = this.state;
			  if (appointments.hasOwnProperty(appointment.id)) {
				alert('An appointment already exists on this day.');
				return;
			  }
			  const currentAppointments = { ...appointments };
			  currentAppointments[appointment.id] = appointment;
			  this.setState({
				appointments: currentAppointments });
		  
			  // reset form
			  e.currentTarget.reset();
			  this.setState({
				appointment: this.initialAppointmentState,
				isNewAppointment: false });
		  
			}
		  
			handleAppointmentEdit(e) {
			  this.setState({
				isViewAppointment: false,
				isEditAppointment: true });
		  
			}
		  
			handleAppointmentDelete(e) {
			  const { appointments, appointment } = this.state;
			  if (appointments.hasOwnProperty(appointment.id) && confirm("Are you sure you want to delete this Appointment?")) {
				const currentAppointments = { ...appointments };
				delete currentAppointments[appointment.id];
				this.setState({
				  appointments: currentAppointments });
		  
			  }
			  this.resetSideViews();
			}
		  
			handleAppointmentUpdateFormSubmit(e) {
			  e.preventDefault();
			  const { appointments, appointment } = this.state;
			  if (appointments.hasOwnProperty(appointment.id)) {
				const currentAppointments = { ...appointments };
				appointment.date = new Date(Date.now());
				currentAppointments[appointment.id] = appointment;
				this.setState({
				  appointments: currentAppointments });
		  
				// reset form
				e.currentTarget.reset();
				this.resetSideViews();
				this.setState({
				  appointment: this.initialAppointmentState });
		  
			  }
			}
		  
			handleAppointmentActionCancel(e) {
			  this.resetSideViews();
			  this.setState({
				appointment: this.initialAppointmentState });
		  
			}
		  
			render() {
			  const { calendarData, appointments, isEditAppointment,
				isNewAppointment, isViewAppointment, appointment } =
			  this.state;
			  const isActivateSideView = isNewAppointment || isViewAppointment || isEditAppointment;
			  return /*#__PURE__*/(
				React.createElement("div", { className: "container" }, /*#__PURE__*/
				React.createElement("div", { className: "columns" }, /*#__PURE__*/
				React.createElement("div", { className: "column" }, /*#__PURE__*/
				React.createElement(Calendar, {
				  date: calendarData.currentDate,
				  onPrevMonthClick: this.handlePrevMonthClick,
				  onNextMonthClick: this.handleNextMonthClick,
				  onCalendarItemClick: this.handleCalendarItemClick,
				  onAppointmentItemClick: this.handleAppointmentItemClick,
				  appointments: appointments })),
		  
		  
				isActivateSideView && /*#__PURE__*/React.createElement("div", { className: "column is-one-third" },
				isNewAppointment && /*#__PURE__*/React.createElement(AppointmentForm, {
				  appointment: appointment, onInputChange: this.handleInputChange,
				  onAppointmentFormSubmit: this.handleAppointmentFormSubmit,
				  onAppointmentFormCancel: this.handleAppointmentActionCancel }),
		  
				isViewAppointment && /*#__PURE__*/React.createElement(AppointmentDetail, {
				  appointment: appointment,
				  onAppointmentEdit: this.handleAppointmentEdit,
				  onAppointmentDelete: this.handleAppointmentDelete,
				  onCancelClick: this.handleAppointmentActionCancel }),
		  
		  
				isEditAppointment && /*#__PURE__*/React.createElement(AppointmentForm, {
				  appointment: appointment, onInputChange: this.handleInputChange,
				  onAppointmentFormSubmit: this.handleAppointmentUpdateFormSubmit,
				  onAppointmentFormCancel: this.handleAppointmentActionCancel })))));
			}
		}
		ReactDOM.render( /*#__PURE__*/React.createElement(App, null), document.getElementById("root"));
	</script>
{% endblock scripts %}